#myChart {
    width: 400px !important;
    height: 400px !important;
}

.graph-container {
    display: flex;
    justify-content: center;
 
    margin: 0 auto;
}

a{
    text-decoration: none !important;
}

.navbar-brand{
    color: white !important;
}

a.nav-link{
    color: white !important;
}

a.nav-link.active{
    color: yellow !important;
}
